USE [master]
GO
/****** Object:  Database [ThucTap]    Script Date: 6/19/2023 3:45:32 PM ******/
CREATE DATABASE [ThucTap]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ThucTap', FILENAME = N'C:\Users\Admin\ThucTap.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ThucTap_log', FILENAME = N'C:\Users\Admin\ThucTap_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ThucTap].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ThucTap]
GO
/****** Object:  Table [dbo].[DeTai]    Script Date: 6/19/2023 3:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeTai](
	[madt] [char](10) NOT NULL,
	[tendt] [char](30) NOT NULL,
	[kinhphi] [int] NOT NULL,
	[NoiThucTap] [char](30) NOT NULL,
 CONSTRAINT [PK_DeTai] PRIMARY KEY CLUSTERED 
(
	[madt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 6/19/2023 3:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[magv] [int] NOT NULL,
	[hotengv] [char](30) NOT NULL,
	[luong] [decimal](5, 2) NULL,
	[makhoa] [int] NOT NULL,
 CONSTRAINT [PK_GiangVien] PRIMARY KEY CLUSTERED 
(
	[magv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HuongDan]    Script Date: 6/19/2023 3:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HuongDan](
	[masv] [int] NOT NULL,
	[madt] [char](10) NOT NULL,
	[magv] [int] NOT NULL,
	[ketqua] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_HuongDan] PRIMARY KEY CLUSTERED 
(
	[masv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 6/19/2023 3:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[makhoa] [int] NOT NULL,
	[tenkhoa] [nvarchar](50) NOT NULL,
	[dienthoai] [nchar](10) NULL,
 CONSTRAINT [PK_Khoa] PRIMARY KEY CLUSTERED 
(
	[makhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 6/19/2023 3:45:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[masv] [int] NOT NULL,
	[hotensv] [char](30) NOT NULL,
	[makhoa] [int] NOT NULL,
	[namsinh] [int] NOT NULL,
	[quequan] [char](30) NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[masv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GiangVien]  WITH CHECK ADD  CONSTRAINT [FK_GiangVien_Khoa] FOREIGN KEY([makhoa])
REFERENCES [dbo].[Khoa] ([makhoa])
GO
ALTER TABLE [dbo].[GiangVien] CHECK CONSTRAINT [FK_GiangVien_Khoa]
GO
ALTER TABLE [dbo].[HuongDan]  WITH CHECK ADD  CONSTRAINT [FK_HuongDan_DeTai] FOREIGN KEY([madt])
REFERENCES [dbo].[DeTai] ([madt])
GO
ALTER TABLE [dbo].[HuongDan] CHECK CONSTRAINT [FK_HuongDan_DeTai]
GO
ALTER TABLE [dbo].[HuongDan]  WITH CHECK ADD  CONSTRAINT [FK_HuongDan_GiangVien] FOREIGN KEY([magv])
REFERENCES [dbo].[GiangVien] ([magv])
GO
ALTER TABLE [dbo].[HuongDan] CHECK CONSTRAINT [FK_HuongDan_GiangVien]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_HuongDan] FOREIGN KEY([masv])
REFERENCES [dbo].[HuongDan] ([masv])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_HuongDan]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_Khoa] FOREIGN KEY([makhoa])
REFERENCES [dbo].[Khoa] ([makhoa])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_Khoa]
GO
USE [master]
GO
